In [17]:
import numpy as np 
import pandas as pd

In [18]:


df = pd.read_csv("Crop Recomdation.csv")

In [19]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [20]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [21]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [22]:
label_mapping = {
    'rice' : 1,
    'maize' : 2,
    'chickpea' : 3,
    'kidneybeans' :4,
    'pigeonpeas' :5,
    'mothbeans':6,
    'mungbean' : 7,
    'blackgram' : 8,
    'lentil' : 9,
    'pomegranate' : 10,
    'banana' : 11,
    'mango' : 12, 
    'grapes' : 13,
    'watermelon' : 14,
    'muskmelon' : 15, 
    'apple' : 16,
    'orange' : 17,
    'papaya' : 18,
    'coconut' : 19,
    'cotton' : 20,
    'jute' : 21, 
    'coffee' : 22,
    
  
}

df['label'] = df['label'].map(label_mapping)

In [23]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall  label
0  90  42  43    20.879744  82.002744  6.502985  202.935536      1
1  85  58  41    21.770462  80.319644  7.038096  226.655537      1
2  60  55  44    23.004459  82.320763  7.840207  263.964248      1
3  74  35  40    26.491096  80.158363  6.980401  242.864034      1
4  78  42  42    20.130175  81.604873  7.628473  262.717340      1

In [24]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall  label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507     22
2196   99  15  27    27.417112  56.636362  6.086922  127.924610     22
2197  118  33  30    24.131797  67.225123  6.362608  173.322839     22
2198  117  32  34    26.272418  52.127394  6.758793  127.175293     22
2199  104  18  30    23.603016  60.396475  6.779833  140.937041     22

In [25]:
# Prepare X and y
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [26]:
X.head()

    N   P   K  temperature   humidity        ph    rainfall
0  90  42  43    20.879744  82.002744  6.502985  202.935536
1  85  58  41    21.770462  80.319644  7.038096  226.655537
2  60  55  44    23.004459  82.320763  7.840207  263.964248
3  74  35  40    26.491096  80.158363  6.980401  242.864034
4  78  42  42    20.130175  81.604873  7.628473  262.717340

In [27]:
from sklearn.model_selection import train_test_split
# Do train test split
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=1)
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(1760, 7) (440, 7) (1760,) (440,)

In [28]:



# Import the min-max scaler function
from sklearn.preprocessing import MinMaxScaler

# Create an instance of the scaler
scaler = MinMaxScaler()

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit and transform the train set using the scaler
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test set using the scaler
X_test_scaled = scaler.transform(X_test)

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Create and fit the Random Forest classifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

# Predict target values for the test set
y_pred = rfc.predict(X_test)

# Calculate and print the accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy Score:", accuracy)

Accuracy Score: 0.9931818181818182

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Create and fit the Logistic Regression model
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

# Predict target values for the test set
y_pred = classifier.predict(X_test)

# Calculate and print the accuracy score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy Score:", accuracy)

Accuracy Score: 0.9454545454545454

C:\Users\U.B.A Yadav\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [31]:
# Import necessary libraries
from sklearn.ensemble import RandomForestClassifier

# Assuming you have trained your RFC object and have feature values
def recommendation(N, P, K, temperature, humidity, ph, rainfall, rfc):
    # Create a list with the feature values
    features = [N, P, K, temperature, humidity, ph, rainfall]

    # Reshape the features into a 2D array as RFC expects a 2D array
    features = [features]

    # Make a prediction using the trained RFC model
    prediction = rfc.predict(features)

    return prediction[0]

# Example usage:
N = 32
P = 100
K = 32
temperature = 26.774637
humidity = 66.413269
ph = 10.780064
rainfall = 177.774507

# Assuming you have trained your RFC object and have feature values
result_numeric = recommendation(N, P, K, temperature, humidity, ph, rainfall, rfc)

# Reverse mapping for item types
reverse_label_mapping = {
    1: 'rice',
    2: 'maize',
    3: 'chickpea',
    4: 'kidneybeans',
    5: 'pigeonpeas',
    6: 'mothbeans',
    7: 'mungbean',
    8: 'blackgram',
    9: 'lentil',
    10: 'pomegranate',
    11: 'banana',
    12: 'mango',
    13: 'grapes',
    14: 'watermelon',
    15: 'muskmelon',
    16: 'apple',
    17: 'orange',
    18: 'papaya',
    19: 'coconut',
    20: 'cotton',
    21: 'jute',
    22: 'coffee',
}

# Convert the numeric result to item type name
result_name = reverse_label_mapping.get(result_numeric, 'Unknown')

print("Recommendation:", result_name)

Recommendation: pigeonpeas

C:\Users\U.B.A Yadav\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [32]:
import pickle
pickle.dump(rfc,open('model.pkl','wb'))
pickle.dump(scaler,open('minmaxscaler.pkl','wb'))
pickle.dump(sc,open('standscaler.pkl','wb'))

NameError: name 'sc' is not defined